__pycache__/

.venv/

.DS_Store

BD_beamInit/

BD_2beamsInit/

BD_2bDNN/

Bi_mimo_sinr/
Mo_mimo_sinr/
Mo_mimo_sinr_1b/
Mo_mimo_sinr_modelsave/

*.ipynb
plots.py 

debug_*
# retest_benchmark.py

/figs
ping_pong.py
requirement_ucloud.txt